body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("../public/bgabs.jpg");
    background-size: contain;
}
.container{
    backdrop-filter: blur(2px) brightness(102%);
    box-shadow: 
    inset 0 0 12px 12px white,
    0 0 24px 2px gray ;
}
.content{
    padding: 2rem !important;

}
#result{
    text-transform: capitalize;
    width: calc(100% - 10dvw);
}
.send{
    width: 10dvw;

}
input{
    /* position: relative; */
    /* bottom: 1rem; */
    transition:all 1s;
    transition-delay: 0.4s;
    cursor: pointer;
    transform: scale(1);
}
#fade{
    /* background-color: white; */
    background-image: linear-gradient(to top , #fff , #fff, transparent);
    height: 60dvh;
    width: 100dvw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#saved{
    /* min-height: 20dvw; */
    margin-bottom: 20dvh !important;
}
/* .list{
    display: flex !important;
    justify-content: space-between;
} */
 .closed{   
    float:right;
 }
@media (max-width:640px) {
    .container{
        max-width: 88dvw;
    }
    .optional{
        display: none;
    }
    #result,#inputText,#savedList{
        display: flex;
        align-items: center;
        font-size: 12px !important;
    }
}